:root{
  --transition-function: cubic-bezier(0.16, 1, 0.3, 1);
  --transition: all 0.9s var(--transition-function);
  --primary: #3f51b5;
  --primary-dark: #273371;
  --player-1-color: #ff69b4;
  --player-2-color: #06aab4;
  --toolbar-height: 65px;
}

// general
$body-bg: #f8f8f8;
$primary: #DC4437;

// input
$caret-color: #444;
$input-label-color: #2ca6e9;
$input-underline-color: #2ca6e9;

// players
$player1: #ff69b4;
$player2: #06aab4;

// board
$board-bg: rgba(0, 0, 0, 0.2);
$board-cell-size: 50px;
$board-border-radius: 30px;
$board-cell-padding: 10px;

// winner and loser
$winner-overlay-bg: #8BC34A;
$loser-overlay-bg: $primary;

// players hud
$players-hud-wait-bg: $primary;
