@import "variables";
html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: var(--primary);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
}

.game-input{
  height: 60px;
  width: 100%;
  border-radius: 10px;
}
