app-start {

  .start-page {
    display: flex;
    overflow: hidden;
    max-width: 100vw;


    .participate-game, .new-game {
      position: absolute;
      top: 0;
      height: calc(100vh);
      min-width: 50vw;
      max-width: 50vw;
    }


    .columns-section {
      margin-top: 30px;
      margin-bottom: 30px;

      .columns {
        display: flex;
        justify-content: space-around;
      }
    }

    button {
      --color: #3f51b5;
      --hover: #3f51b5;
      background: none;
      border: 2px solid;
      font: inherit;
      line-height: 1;
      padding: 1em 2em;
      color: var(--color);
      transition: 0.25s;
      margin: auto;
      cursor: pointer;
      outline: none;


      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;

      &.small {
        font-size: 14px;
        padding: .5em 1em;
        margin-top: 20px;
      }

      &:hover,
      &:focus,
      &.active {
        border-color: var(--hover);
        color: #fff;
      }

      &.offset {
        box-shadow: 0.3em 0.3em 0 0 var(--color),
        inset 0.3em 0.3em 0 0 var(--color);

        &:hover,
        &:focus {
          box-shadow: 0 0 0 0 var(--hover),
          inset 6em 3.5em 0 0 var(--hover);
        }

        &.active {
          border-color: var(--primary-dark);
          box-shadow: 0.3em 0.3em 0 0 var(--color),
          inset 0.3em 0.3em 0 0 var(--color);
          background-color: var(--primary);

        }
      }
    }


    .clickable-area, .player-name, .new-game, .participate-game {
      transition: var(--transition);
    }

    .expanded {
      min-width: 100%;
      max-width: 100%;

      .player-name {
        //max-height: 200px;
        opacity: 1;
        transform: scale(1) translateY(0);
      }

      .clickable-area {
        max-height: 100px;
        min-height: 100px;
        padding-top: 80px;
      }
    }

    .new-game {
      right: 0;
      background-color: var(--player-1-color);

      &.closed {
        transform: translateX(100%);
      }
    }

    .participate-game {
      left: 0;
      background-color: var(--player-2-color);

      &.closed {
        transform: translateX(-100%);
      }
    }



    .toolbar {
      width: 100%;
      text-align: center;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .toolbar-1 {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 30px;
    }

    .player-name {
      //max-height: 0;
      overflow: hidden;
      max-width: 700px;
      margin: auto;
      transform: scale(0) translateY(300px);
      color: #3f51b5;

      input {
        width: 90%;
        outline: none !important;
        border: 8px solid #3f51b5;
        font-size: 40px;
        padding: 0 20px;
        font-weight: bold;
        border-radius: 0;
      }
    }

    .clickable-area {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
      font-size: 36px;
      max-height: 100%;
      min-height: 100%;
      //width: 100%;
      user-select: none;
      cursor: pointer;
      padding: 20px;
    }
  }
}
