@import "variables";

.board-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .helper {
    font-weight: bold;
    font-size: 26px;
    color: white;
    opacity: .7;
    text-align: center;

    &.active {
      color: var(--player-2-color);

      &.player-1 {
        color: var(--player-1-color)!important;
      }
    }
  }

  .board-child-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .board-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: $board-border-radius;
      background-color: transparent;
      transition: background-color .4s ease;

      span {
        display: block;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
      }

      &.winner {
        background-color: transparentize($winner-overlay-bg, 0.2);
      }

      &.loser {
        background-color: transparentize($loser-overlay-bg, 0.2);
      }

    }

    table {
      border-collapse: collapse;
      border-radius: $board-border-radius;
      overflow: hidden;

      td {
        border: none;
        padding: $board-cell-padding;
        background: $board-bg;
        cursor: pointer;

        &.highlight {
          background: lighten($board-bg, 5%);
        }

        &.board-disabled {
          cursor: not-allowed;
        }

        .cell {

          border: 2px solid darken($board-bg, 4%);
          height: $board-cell-size;
          width: $board-cell-size;
          background: $body-bg;
          margin: 0 auto;
          border-radius: 50%;

          &.player1 {
            background: var(--player-1-color);
          }

          &.player1-ghost {
            background: var(--player-1-color);
            opacity: .5;
          }

          &.player2 {
            background: var(--player-2-color);
          }

          &.player2-ghost {
            background: var(--player-2-color);
            opacity: .5;
          }

        }

      }
    }

  }

}
