app-game {
  background: var(--primary);
  height: calc(100% - 64px);

  display: flex;
  flex-direction: column;

  app-board {
    flex-grow: 1;
  }



  .game-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .stage {
      display: flex;
      justify-content: center;
      video {
        transform: scaleX(-1);
        border-radius: 30px;
        border: 10px solid var(--primary-dark);
        margin-left: 80px;
        margin-right: 80px;
      }

      canvas{
        display: none;
      }
    }
  }

}
