<mat-progress-bar
  *ngIf="loading; else contentLoaded"
  color="accent"
  mode="indeterminate">
</mat-progress-bar>

<ng-template #contentLoaded>
  <ng-container>

    <app-players-hud
      [isMyTurn]="isMyTurn"
      [matchId]="matchId$ | async"
      [players]="players$ | async"
      [activePlayer]="activePlayer$ | async">
    </app-players-hud>

    <div class="game-zone">

      <div class="left-panel">

        <div class="player-{{playerNumber === 1 ? 2 : 1}}-stage stage">
          <video *ngFor="let video of videos" class="layer"
                 [srcObject]="video.srcObject"
                 (loadedmetadata)="onLoadedMetadata($event)"
                 [muted]="video.muted"></video>
        </div>


        <div class="player-{{playerNumber}}-stage stage my-area">
          <video id="my-video" class="layer" autoplay></video>
          <canvas id="my-canvas" class="layer"></canvas>
        </div>

        <div>
          <button type="button" mat-raised-button *ngIf="!isSpeechRecognitionEnabled"
                  (click)="enableSpeechRecognition()" [disabled]="!isMyTurn">
            Enable Voice Control
          </button>
          <button type="button" mat-raised-button *ngIf="isSpeechRecognitionEnabled"
                  (click)="disableSpeechRecognition()" [disabled]="!isMyTurn">
            Disable Voice Control
          </button>
        </div>
      </div>
      <app-board
        (mark)="onMark($event)"
        [isDisabled]="!isMyTurn || playersCount < 2 || (winnerPlayer$ | async)?.id"
        [gesture]="gesture"
        [currentPlayer]="currentPlayer"
        [winnerPlayer]="winnerPlayer$ | async"
        [settings]="settings$ | async"
        [board]="board$ | async">
      </app-board>

    </div>

    <app-hud
      [playersCount]="playersCount"
      [matchId]="matchId$ | async"
      [currentPlayer]="currentPlayer">
    </app-hud>

  </ng-container>
</ng-template>
