app-game {
  background: var(--primary);
  height: calc(100% - 64px);

  display: flex;
  flex-direction: column;

  app-board {
    flex-grow: 1;

    background: rgba(0, 0, 0, 0.08);
    height: 100%;
    border-radius: 30px;
    margin: 40px;
    box-shadow: 0 10px 100px 0 #00000075;
  }



  .game-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .left-panel{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background: rgba(0, 0, 0, 0.08);
      height: 100%;
      border-radius: 30px;
      margin: 40px;
      box-shadow: 0 10px 100px 0 #00000075;
    }

    .stage {
      display: flex;
      justify-content: center;
      align-items: center;

      &.player-1-stage video{
        border: 10px solid var(--player-1-color);
        transform: scaleX(-1);
      }

      &.player-2-stage video{
        border: 10px solid var(--player-2-color);
      }

      &.my-area{
        transform: scale(.7);
      }

      video {
        transform: scaleX(-1);
        border-radius: 30px;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 40px;
        max-width: 320px;
      }

      canvas{
        display: none;
      }
    }
  }

}
